<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhncorp.utilsettest.test"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    
    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for AndroidUtilSetSampleApp"
        android:targetPackage="com.nhncorp.utilsettest" />

</manifest>